@CHARSET "ISO-8859-1";


/*--------------Main----------------*/
.body{
	padding-left:18%;
}

.selectedList td{
	font-size:17px;
	padding: 7px;
}

.selectedList{
	text-align: center;
	width:50%;
}
.alternateList td{
	font-size:17px;
	padding:7px;
}
.alternateList{
	text-align:center;
	width:50%;
}
.sideBar{
	text-align:center;
}
li{
	list-style-type:none;
}
.importButton{
	width:150px;
	height:80px;
}
.selectButton{
	width:150px;
	height:80px;
}
.checkShortages{
	width:150px;
	height:80px;
}
.selectPackingListItemBeverages{
	width:130px;
	height:60px;
}
.selectPackingListItemCannedFood{
	width:130px;
	height:60px;
}
.selectPackingListItemGeneralFood{
	width:130px;
	height:60px;
}
#eventLocation{
	width:60%;
}
#amountOfBags{
	width:20%;
}